body {
    background: lightblue;
    padding: 20px;
}

table {
    margin: 0 auto;
    background: lightgray;
    border: 1px solid black;
}
td {
    width: 100px; height: 100px;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background: white;
}

.countdown {
    text-align: left;
    font-size: 60px;
    color: white;
}

td {
    text-align: center;
    font-size: 350%;
}

.game {
    text-align: center;
    margin-top: 40px;
}

button {
    padding: 10px;
    width: 250px;
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 3px;
}

